@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #302f30, #88b0de);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .placeholder-gray-700::placeholder {
    color: #718096;
    /* Цвет текста плейсхолдера */
  }
}